#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(186, 235, 232);
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-title {
  font-size: 28px;
  margin-bottom: 50px;
  color: rgb(19, 99, 72);
  letter-spacing: 5px;
}

.calculator-body {
  background-color: rgb(255, 255, 255);
  height: 50vh;
  width: 100vh;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.results-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(7, 80, 58);
  width: calc(50% - 20px);
  height: calc(100% - 60px);
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 20px;
  color: #fff;
}

.input-box {
  width: calc(50% - 20px);
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.select-tip-title {
  display: flex;
}

.tip-button {
  display: flex;
  background-color: rgb(9, 59, 47);
  border: none;
  width: 120px;
  margin-top: 15px;
  border-radius: 7px;
  font-size: 22px;
  height: 46px;
  justify-content: center;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
}

.tip-button:hover {
  background-color: #3aa578;
  cursor: pointer;
}

.tip-button:active,
.tip-button.active {
  background-color: #4CAF50; 
}



.tip-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0;

}

.custom-tip-button {
  width: 120px;
}

.reset-button {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  background-color: rgb(56, 219, 138);
  border: none;
  cursor: pointer;

}

.reset-button:hover {
  background-color: #3aa578;
  cursor: pointer;
}

.reset-button:active,
.reset-button.active {
  background-color: #d8d407; 
}


.text-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tip-amount {
  margin-right: 190px;
}

.subtitle {
  font-size: 12px;
  color: #dddddd;
}

.per-person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}